
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


.sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fd;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}


.logo {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}


.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 12px;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.menu li i {
    margin-right: 10px;
}

.menu li:hover,
.menu .active {
    background: #007bff;
    color: white;
}


.collapse {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}


